.contacts-items {
    a {
        display: block;
        margin-bottom: 15px;
        padding: 20px;
        text-decoration: none;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 16px;
    }
}
